<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	
	<link href="https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,600,700|Fira+Sans+Condensed:400|500|Reem+Kufi" rel="stylesheet">

  	<link rel="stylesheet" href="/stylesheets/style.css">

	<script src="/javascripts/main.js"></script>	
	<script src="/javascripts/handlebars-v4.0.11.js"></script>
	
	<title> Proyecto Web Busqueda </title> 
</head>
<body class="search">	
	{{{body}}}
</body>
</html>