<div class="container">

	<div class="container-home">
		<div class="logo-home">
			<a href="/" class="img-logo"><img src="/images/logo-azul.png" width="260" height="90" alt="Celular-Libre-Samsung-Galaxy-S8-Plus-Negro" id="" data-rjs-processed="true"></a>
		</div>
		<div class="barra-search-home">
			<form style="margin-top: 50px;" action="/search" method="get">
				<div class="input-group">
		        <input type="text" class="form-control input-search-home" name="busqueda" id="busqueda" placeholder="Buscar productos...">
		        <span class="input-group-btn">    
		          	<button class="btn btn-default btn-search-home" type="submit" id="Buscar">
		            	<span class="glyphicon glyphicon-search "></span>
		            </button> 
		        </span>
		      </div>
		    </form>
		</div>
	</div>
</div>