<nav class="navbar navbar-fixed-top">
  <div class="container">
  	<div class="nav-search">
  		
    	<div class="col-xs-2 logo">
			<a href="/" class="img-logo"><img src="/images/logo-azul.png" width="130" height="45" alt="Celular-Libre-Samsung-Galaxy-S8-Plus-Negro" id="" data-rjs-processed="true"></a>
    	</div> 
	    <div class="flipkart-navbar-search col-xs-8 col-sm-8 col-md-6 col-lg-6" id="myNavbar">
		    <form action="/search" method="get">
		   		<div class="input-group">
			        <input type="text" class="form-control form-barra-search" name="busqueda" id="busqueda" value="{{busqueda}}">
			        <span class="input-group-btn">
			        	<button class="btn btn-default btn-boton-search" type="submit" id="Buscar">
			            	<span class="glyphicon glyphicon-search "></span>
			          	</button>
		       		</span>
		       	</div>
		    </form>
	    </div>
	    <div class="col-xs-1"></div>
	</div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">

    <div class="col-sm-3 sidenav sidenav-search">

		<div id="filtros-aplicados">

		</div>
	    	
    	<div id="filtros-disponibles">

    	</div>

	    
	</div>

    <div class="col-sm-7 container container-productos">
	
	
    <div class="busqueda">{{busqueda}}</div>  <span class="info"> </span>
    <div class="cantidad-resultados"></div>

    <hr style="height: 1px; background-color: #c5c5c5; width: 90%;">

      <div id="lista-resultados">
	      
      </div>
      
    </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>
	