<nav class="navbar navbar-fixed-top">
  <div class="container">
  	<div class="nav-search">
  		
    	<div class="col-xs-2 logo">
			<a href="/" class="img-logo"><img src="/images/logo-azul.png" width="130" height="45" alt="Celular-Libre-Samsung-Galaxy-S8-Plus-Negro" id="" data-rjs-processed="true"></a>
    	</div> 
	    <div class="flipkart-navbar-search col-xs-8 col-sm-8 col-md-6 col-lg-6" id="myNavbar">
		    <form action="/search" method="get">
		   		<div class="input-group">
			        <input type="text" class="form-control form-barra-search" name="busqueda" id="busqueda" value="{{busqueda}}">
			        <span class="input-group-btn">
			        	<button class="btn btn-default btn-boton-search" type="submit" id="Buscar">
			            	<span class="glyphicon glyphicon-search "></span>
			          	</button>
		       		</span>
		       	</div>
		    </form>
	    </div>
	    <div class="col-xs-1"></div>
	</div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav sidenav-search">

		<div id="filtros-aplicados">
	    	<span class="filtro-aplicado"><p class="texto-filtro">Samsung</p> </span>
		</div>
	    	
    	<div id="filtros-disponibles">

    		<div class="filtro-disponible">
		      <h4>Clase</h4>
		      <ul class="nav nav-pills nav-stacked"><li><label class="label-filtro elem-filtro-disponible"><span>Galaxy S</span><input type="checkbox" value=''><span class="nombre-filtro"></span></label></li>
		      </ul>
			</div>


			<div class="filtro-disponible">
			    <h4>Precio</h4>
		   		<div class="input-group" style="display: inline-flex;">
			        <span class="input-precio-minimo"><input type="number" class="form-control" id="precio-minimo" placeholder="Mínimo"></span>
			        <span class="btn-filtrar-precio">
						<button class="btn btn-default" type="button" id="filtrar-precio">
			            	<span class="glyphicon glyphicon-chevron-right"></span>
			        	</button>
			        </span>
		       	</div>
			</div>
    	</div>

	    
	</div>
    <div class="col-sm-7 container container-productos">
	
	
    <div class="busqueda">{{busqueda}}</div>  <span class="info"><p class="info-busqueda">Samsung</p> </span>

    <hr style="height: 1px; background-color: #c5c5c5; width: 90%;">

      <div id="lista-resultados">
	      <div class="producto">
	      	<div class="img-producto">
	      		<a href=""><img src="http://fravega.vteximg.com.br/arquivos/ids/304855-280-280/Celular-Libre-Samsung-Galaxy-S8-Plus-Negro.jpg?v=636310626040130000" width="170" height="170" alt="Celular-Libre-Samsung-Galaxy-S8-Plus-Negro" id="" data-rjs-processed="true"></a>
	      	</div
	      	<div>
		     	<a href="fravega.com" class="link-producto"><p class="titulo-producto">Celular Libre Samsung Galaxy Fame Lite S6790</p></a>
		     	<p class="marca-producto">Samsung</p>
	     	</div>
	     	<span class="precio-web">
		     	<p class="web-producto">Garbarino</p>
		     	<div class="precio-producto">$ 19.000</div>
	     	</span>
	     	<!-- <span class="btn-web"><p class="visitar">Ver producto </p></span> -->
	      </div>

	      <div class="producto">
	      	<div class="img-producto">
	      		<img src="http://fravega.vteximg.com.br/arquivos/ids/304851-280-280/Celular-Libre-Samsung-Galaxy-S8-Gris-Orquidea.jpg?v=636310625889470000" width="170" height="170" alt="Celular-Libre-Samsung-Galaxy-S8-Plus-Negro" id="" data-rjs-processed="true">
	      	</div>
	      	<div>
		     	<p class="titulo-producto">Celular Libre Samsung GALAXY J1 J111M Blanco</p>
		     	<p class="marca-producto">Motorola</p>
	     	</div>
	     	<span class="precio-web">
		     	<p class="web-producto">Frávega</p>
		     	<div class="precio-producto">$ 18.000</div>
	     	</span>
	     	<!-- <span class="btn-web"><p class="visitar">Ver producto </p></span> -->
	      </div>

	      <div class="producto">
	      	<div class="img-producto">
	      		<img src="http://fravega.vteximg.com.br/arquivos/ids/319947-280-280/Celular-Libre-Samsung-Galaxy-S8-Plus-Coral-Blue.jpg?v=636458016555570000" width="170" height="170" alt="Celular-Libre-Samsung-Galaxy-S8-Plus-Negro" id="" data-rjs-processed="true">
	      	</div>
	      	<div>
		     	<p class="titulo-producto">celular libre samsung galaxy j2 prime</p>
		     	<p class="marca-producto">Apple</p>
	     	</div>
	     	<span class="precio-web">
		     	<p class="web-producto">Compumundo</p>
		     	<div class="precio-producto">$ 17.000,5</div>
	     	</span>
	     	<!-- <span class="btn-web"><p class="visitar">Ver producto </p></span> -->
	      </div>
      </div>
      
    </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>
	