input[type=number]::-webkit-outer-spin-button,

input[type=number]::-webkit-inner-spin-button {

    -webkit-appearance: none;

    margin: 0;

}

input[type=number] {

    -moz-appearance:textfield;

}

body.home {
	font-family: 'Nunito', sans-serif;
}

body.search {
  padding-top: 64px;
  font-family: 'Nunito', sans-serif;
  background-color: #efefef;
}

a {
  color: #00b5fb;
}

/* The container */
.label-filtro {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 6px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.label-filtro input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.nombre-filtro {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #fff;
}

/* On mouse-over, add a grey background color */
.label-filtro:hover input ~ .nombre-filtro {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.label-filtro input:checked ~ .nombre-filtro {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.nombre-filtro:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.label-filtro input:checked ~ .nombre-filtro:after {
    display: block;
}

/* Style the checkmark/indicator */
.label-filtro .nombre-filtro:after {
    left: 7px;
    top: 3px;
    width: 4px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #ffc55a; /*#fbb95a #ffd96c*/ 
	border-bottom: 1px solid #ffb734;
	box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.13);
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav-search {
  background-color: #efefef;
  height: 100%;
  margin-top: 115px;
}

h4 {
	font-weight: 700;
	margin-bottom: 15px;
}

/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;	
    padding: 15px;
  }
  .row.content {height: auto;} 
}

.form-barra-search {
	margin-top: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    border: 1px solid #ffffff;
}

.btn-boton-search {
	margin-top: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    color: #325377;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    padding: 4px 10px;
    font-size: 17px;
}

.glyphicon-search {
	top: 3px;
}

.btn-boton-search:hover {
	background-color: #c3c3c3;
	border-color: #c3c3c3;
}

.flipkart-navbar-search {
	margin-left: 90px;
	margin-top: 4px;
}

.logo {
	margin: -1px 25px 3px 0px;
    font-family: 'Reem Kufi', sans-serif;
    color: #002962;
    font-size: 37px;
    font-weight: 600;
}

.elem-filtro-disponible {
    color: #666;
    font-weight: 300;
    font-size: 14px
}

.titulo-filtro-disponible {
    margin-bottom: 16px;
}

.titulo-producto {
	font-size: 19px;
	font-weight: 200;
	color: #000;
	margin-bottom: 4px;
}

.filtro-disponible {
	margin-bottom: 25px;
}

.producto {
	background-color: #fff;
	display: flow-root;
	padding: 25px 10px;
	margin-top: 25px;
	border: solid 1px #eee;
	box-shadow: 0px 1px 5px 0 rgba(37,32,31,.16);
	border-radius: 3px;
}

.producto:hover {
	box-shadow: 0 1px 10px 0 rgba(37,32,31,.4);
}

.img-producto {
	float: left;
	margin-left: 20px;
    margin-right: 30px;
}

.container-productos {
	margin-top: 35px;
	width: 62%;
}

.precio-producto {
	font-weight: 600;
    font-size: 25px;
}

.web-producto {
    margin-top: 30px;
    margin-bottom: 2px;
    font-size: 17px;
    color: #337ab7;
}

.marca-producto {
	color: #777777;
	font-weight: 200;
}

.filtro-aplicado {
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #317fb7;
    border-radius: 2px;
    display: inline-block;
}

.texto-filtro {
	margin: 6px;
	font-weight: 200;
	color: #fff;
}

.busqueda {
    margin-bottom: 7px;
    display: inline-block;
	font-size: 24px;
	font-weight: 400;
	color: #2d2d2d;
}

#filtros-disponibles {
	margin-left: 20px;
}

#filtros-aplicados {
	margin-left: 20px;
	margin-bottom: 25px;
}

.info-busqueda {
	display: inline-block;
	margin-left: 5px;
    margin-bottom: 7px;
    font-size: 12px;
    color: #717171;
    background-color: #fff;
    border-radius: 4px;
    padding: 4px;
    font-weight: 200;
}

.precio-web {
	display: inline-block;
}

.visitar {
	display: inline-block;
	padding: 12px 30px;
	background-color: #337ab7;
	border-radius: 3px;
	margin: 0;
	color: #fff;
	font-weight: 800;
    font-size: 16px;
}

.btn-web {
	margin-left: 165px;
}

.link-producto:hover {
	text-decoration: none;
}

.titulo-producto:hover {
	color: #c45500
}

.img-logo {
	margin-left: 1px;
	margin-right: 2px;
}

.container-home {
	margin: 100px 0 0 0;
}

.logo-home {
	text-align: center;
}

.barra-search-home {
	width: 600px;
    margin: 40px 250px;
    font-family: 'Nunito', sans-serif !important;
}

.btn-search-home {
	box-shadow: 2px 1px 5px 0 rgba(0,0,0,.5);
    border-radius: 2px;
    color: #325377;
    background-color: #f1f1f1;
    border-color: #f1f1f1;
    padding: 4px 10px;
    font-size: 17px;
    height: 40px;
}

.input-search-home {
	box-shadow: 1px 1px 5px 0 rgba(0,0,0,.5);
    border-radius: 2px;
    border: 1px solid #ffffff;
    height: 40px;
}

.btn-search-home:hover {
	background-color: #c3c3c3;
	border-color: #c3c3c3;
}

.input-precio-minimo {
    float: left;
    padding-right: 10px;
}

.input-precio-maximo {
    float: left;
    padding-right: 10px;
}

.btn-filtrar-precio {
	margin-right: 60px;
}

.btn-ver-mas:hover {
    text-decoration: none;
    cursor: pointer;
    color: #007fb1;
}

.cantidad-resultados {
    font-weight: 100;
}

.filtro-sitios {
    margin-bottom: 40px;
}

.chevron-sitio {
    top: 3px;
    left: 2px;
    font-size: 17px;
}

#collapse-sitios {
    margin-top: 15px;
}

.sitios-disponibles {
    color: #efefef;
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    background-color: #317fb7;
    padding: 6px 21px;
    border-radius: 2px;
    cursor: pointer;
}
